Repository qmk/qmk_configurator, pull requests merged in 2019-11, with the labels that each got.

#554 Fork Atreus keymap into revisions
  public/keymaps/atreus_astar_default.json
  public/keymaps/atreus_astar_mirrored_default.json
  public/keymaps/atreus_teensy2_default.json
Labels: keymap

#562 Remove macOS-specific Volume Keycodes
  src/i18n/it/index.js
  src/store/modules/keycodes/app-media-mouse.js
Labels: enhancement

#565 Update Planck and Preonic keymaps
  public/keymaps/planck_ez_default.json
  public/keymaps/planck_light_default.json
  public/keymaps/planck_rev1_default.json
  public/keymaps/planck_rev2_default.json
  public/keymaps/planck_rev3_default.json
  public/keymaps/planck_rev4_default.json
  public/keymaps/planck_rev5_default.json
  public/keymaps/planck_rev6_default.json
  public/keymaps/preonic_rev1_default.json
  public/keymaps/preonic_rev2_default.json
  public/keymaps/preonic_rev3_default.json
Labels: keymap

#568 Expand ControllerTop Menu Space
  src/components/ControllerTop.vue
Labels: enhancement

#571 Adjust ControllerTop Menu Space
  src/components/ControllerTop.vue
Labels: WIP, enhancement

#572 [Keyboard]Add keyboard Naked64
  public/keymaps/naked64_rev1_default.json
  src/jquery.js
Labels: keymap

#574 Fix mistranslation for Japanese
  src/i18n/ja/index.js
Labels: translation

#579 add dz60rgb_ani;dz60rgb_wkl;kbdmini default keymap
  public/keymaps/dztech_dz60rgb_ansi_default.json
  public/keymaps/dztech_dz60rgb_wkl_default.json
  public/keymaps/kbdfans_kbdmini_default.json
Labels: keymap

#573 New Default Keymaps (Section W)
  public/keymaps/waldo_default.json
  public/keymaps/westfoxtrot_aanzee_default.json
  public/keymaps/westfoxtrot_cypher_default.json
  public/keymaps/wilba_tech_rama_works_koyu_default.json
  public/keymaps/wilba_tech_rama_works_m10_b_default.json
  public/keymaps/wilba_tech_rama_works_m60_a_default.json
  public/keymaps/wilba_tech_rama_works_m6_a_default.json
  public/keymaps/wilba_tech_rama_works_m6_b_default.json
  public/keymaps/wilba_tech_wt60_a_default.json
  public/keymaps/wilba_tech_wt65_a_default.json
  public/keymaps/wilba_tech_wt65_b_default.json
  public/keymaps/wilba_tech_wt69_a_default.json
  public/keymaps/wilba_tech_wt75_a_default.json
  public/keymaps/wilba_tech_wt75_b_default.json
  public/keymaps/wilba_tech_wt75_c_default.json
  public/keymaps/wilba_tech_wt80_a_default.json
  public/keymaps/wilba_tech_wt8_a_default.json
  public/keymaps/wilba_tech_zeal60_default.json
  public/keymaps/wilba_tech_zeal65_default.json
  public/keymaps/winkeyless_bface_default.json
  public/keymaps/winkeyless_bmini_default.json
  public/keymaps/winkeyless_bminiex_default.json
Labels: keymap

#581 New Default Keymaps (Section Y)
  public/keymaps/yd60mq_default.json
  public/keymaps/ymd75_default.json
  public/keymaps/ymd96_default.json
  public/keymaps/ymdk_bface_default.json
  public/keymaps/yosino58_rev1_default.json
Labels: keymap

#582 New Default Keymaps (Section Z)
  public/keymaps/zinc_rev1_default.json
  public/keymaps/zinc_reva_default.json
  public/keymaps/zj68_default.json
Labels: keymap

#583 Feature: Show or Hide the Terminal Display
  src/components/ControllerTop.vue
  src/components/StatusPanel.vue
  src/i18n/en/index.js
  src/main.js
  src/scss/style.scss
  src/scss/themes.scss
Labels: feature

#590 [Keyboard]Add keyboard Setta21 / Nafuda
  public/keymaps/nafuda_default.json
  public/keymaps/setta21_rev1_default.json
  src/jquery.js
Labels: keymap

#589 Updated Keyboard Exclusion List: 2019-11-18
  src/jquery.js
Labels: enhancement

#596 dztech keymaps update
  public/keymaps/dztech_dz60rgb_ansi_default.json
  public/keymaps/dztech_dz60rgb_ansi_v1_default.json
  public/keymaps/dztech_dz60rgb_ansi_v2_default.json
  public/keymaps/dztech_dz60rgb_v1_default.json
  public/keymaps/dztech_dz60rgb_v2_default.json
  public/keymaps/dztech_dz60rgb_wkl_default.json
  public/keymaps/dztech_dz60rgb_wkl_v1_default.json
  public/keymaps/dztech_dz60rgb_wkl_v2_default.json
  public/keymaps/dztech_dz65rgb_default.json
  public/keymaps/dztech_dz65rgb_v1_default.json
  public/keymaps/dztech_dz65rgb_v2_default.json
Labels: keymap

#597 Updates for missing layouts
  public/keymaps/keebio_tragicforce68_default.json
  public/keymaps/percent_canoe_default.json
Labels: keymap

#587 Add favorite colorway
  src/components/ControllerTop.vue
  src/components/Main.vue
  src/i18n/en/index.js
  src/scss/style.scss
  src/scss/themes.scss
  src/store/modules/app/actions.js
  src/store/modules/app/mutations.js
  src/store/modules/app/state.js
  src/store/modules/keymap.js
Labels: feature

#567 Searchable keycodes
  src/components/Keycodes.vue
  src/i18n/en/index.js
  src/main.js
  src/store/modules/keycodes/index.js
  src/store/modules/keycodes/quantum.js
Labels: feature

#584 Improve logging in the application
  package.json
  src/App.vue
  src/components/ControllerBottom.vue
  src/components/ControllerTop.vue
  src/logger.js
  src/store/modules/app/actions.js
  src/store/modules/app/getters.js
  yarn.lock
Labels: enhancement

#602 [Keyboard]Add keyboard 7skb
  public/keymaps/7skb_rev1_default.json
  src/jquery.js
Labels: keymap

#605 add default keymap json for heliar/wm1_hotswap
  public/keymaps/heliar_wm1_hotswap_default.json
Labels: keymap

#603 add keymaps: 0-9
  public/keymaps/40percentclub_4pack_default.json
  public/keymaps/40percentclub_nein_default.json
  public/keymaps/8pack_rev11_default.json
  public/keymaps/8pack_rev12_default.json
  public/keymaps/9key_default.json
Labels: keymap

#607 add keymaps: A
  public/keymaps/abstract_ellipse_rev1_default.json
  public/keymaps/acheron_shark_default.json
  public/keymaps/adkb96_rev1_default.json
  public/keymaps/aeboards_aegis_default.json
  public/keymaps/aeboards_ext65_default.json
  public/keymaps/ai03_quasar_default.json
  public/keymaps/ai03_soyuz_default.json
  public/keymaps/akb_eb46_default.json
  public/keymaps/amjkeyboard_amj66_default.json
  public/keymaps/angel17_alpha_default.json
  public/keymaps/angel17_default.json
  public/keymaps/angel17_rev1_default.json
  public/keymaps/ares_default.json
  public/keymaps/ash1800_default.json
  public/keymaps/ashpil_modelm_usbc_default.json
Labels: keymap

#600 Status Bar Updates based on Pixel Designs
  assets/qmk_icon_36.png
  src/App.vue
  src/assets/logo.png
  src/components/SettingsPanel.vue
  src/components/StatusBar.vue
  src/i18n/en/index.js
  src/main.js
  src/scss/status-bar.scss
  src/scss/style.scss
  src/scss/themes.scss
  tests/integration/localStorage.spec.js
  tests/integration/start.spec.js
Labels: WIP, enhancement
