Repository qmk/qmk_configurator, pull requests merged in 2019-12, with the labels that each got.

#611 Fixed keymap for "Y" and "Z" keys for massdrop/alt "default-ish" keymap
  public/keymaps/massdrop_alt_default.json
Labels: keymap

#612 Fix Massdrop Alt default keymap's layout macro
  public/keymaps/massdrop_alt_default.json
Labels: keymap

#608 add keymaps: B
  public/keymaps/bm43a_default.json
  public/keymaps/business_card_alpha_default.json
  public/keymaps/business_card_beta_default.json
Labels: keymap

#614 Create coseyfannitutti_mysterium_default.json
  public/keymaps/coseyfannitutti_mysterium_default.json
Labels: keymap

#615 add keymaps: D
  public/keymaps/duck_orion_v3_default.json
  public/keymaps/dumbpad_default.json
Labels: keymap

#616 add keymaps: E
  public/keymaps/efreet_default.json
  public/keymaps/ep_96_default.json
  public/keymaps/ep_comsn_hs68_default.json
  public/keymaps/ep_comsn_tf_longeboye_default.json
  public/keymaps/ergodash_rev1_default.json
  public/keymaps/ergodox_stm32_default.json
  public/keymaps/exent_default.json
Labels: keymap

#492 Add One-Shot Mods
  src/jquery.js
  src/store/modules/keycodes/quantum.js
Labels: enhancement

#620 add keymaps: F
  public/keymaps/felix_default.json
  public/keymaps/fluorite_default.json
  public/keymaps/flx_virgo_default.json
  public/keymaps/fortitude60_rev1_default.json
Labels: keymap

#622 [Keyboard] Add keyboard uzu42
  public/keymaps/uzu42_rev1_default.json
Labels: keymap

#624 Add default keymap for Matrix 8XV1.2 OG
  public/keymaps/matrix_m12og_default.json
Labels: keymap

#617 Redirects for Renamed Keyboards and Layouts
  src/components/ControllerBottom.vue
  src/jquery.js
  src/remap.js
Labels: feature
