Repository qmk/qmk_configurator, pull requests merged in 2020-04, with the labels that each got.

#696 New Keymap basekeys/slice/rev1
  public/keymaps/b/basekeys_slice_rev1_default.json
Labels: keymap

#697 New Keymap basekeys/slice/rev1_rgb
  public/keymaps/b/basekeys_slice_rev1_rgb_default.json
Labels: keymap

#698 Add default keymap for bear_face
  public/keymaps/b/bear_face_default.json
Labels: keymap

#699 change default keymap
  public/keymaps/k/kbdfans_kbd67_rev2_default.json
Labels: keymap

#700 Update kbdfans_kbd67_rev1_default.json
  public/keymaps/k/kbdfans_kbd67_rev1_default.json
Labels: keymap

#701 Add Keymap jisplit89
  public/keymaps/j/jisplit89_rev1_default.json
  src/jquery.js
Labels: keymap

#704 Adding new default keymaps (2020-04-10)
  public/keymaps/a/acheron_keebspcb_default.json
  public/keymaps/a/ai03_orbit_x_default.json
  public/keymaps/c/cu80_default.json
  public/keymaps/e/ergoslab_rev1_default.json
  public/keymaps/e/exclusive_e7v1se_default.json
  public/keymaps/f/flx_lodestone_default.json
  public/keymaps/g/getta25_rev1_default.json
  public/keymaps/g/gon_nerd60_default.json
  public/keymaps/g/gon_nerdtkl_default.json
  public/keymaps/h/hineybush_h75_singa_default.json
  public/keymaps/h/hineybush_physix_default.json
  public/keymaps/k/keycapsss_plaid_pad_default.json
  public/keymaps/k/kudox_game_rev2_default.json
  public/keymaps/k/kv_revt_default.json
  public/keymaps/l/lattice60_default.json
  public/keymaps/l/lazydesigners_the30_default.json
  public/keymaps/m/maartenwut_eon40_default.json
  public/keymaps/m/maartenwut_minitomic_default.json
  public/keymaps/m/maartenwut_mx5160_default.json
  public/keymaps/m/matrix_noah_default.json
  public/keymaps/m/mc_76k_default.json
  public/keymaps/m/mechlovin_infinityce_default.json
  public/keymaps/m/miller_gm862_default.json
  public/keymaps/m/mountainblocks_mb17_default.json
  public/keymaps/n/ncc1701kb_default.json
  public/keymaps/n/numatreus_default.json
  public/keymaps/o/oddball_default.json
  public/keymaps/p/panc40_default.json
  public/keymaps/p/pico_65keys_default.json
  public/keymaps/p/pico_70keys_default.json
  public/keymaps/r/redscarf_i_default.json
  public/keymaps/r/reversestudio_decadepad_default.json
  public/keymaps/r/reviung41_default.json
  public/keymaps/s/sidderskb_majbritt_default.json
  public/keymaps/s/splitreus62_default.json
  public/keymaps/s/switchplate_southpaw_65_default.json
  public/keymaps/s/switchplate_southpaw_fullsize_default.json
  public/keymaps/t/tgr_910_default.json
  public/keymaps/t/thedogkeyboard_default.json
  public/keymaps/t/tr60w_default.json
  public/keymaps/u/underscore33_default.json
  public/keymaps/u/uranuma_default.json
  public/keymaps/w/wallaby_default.json
  public/keymaps/w/walletburner_neuron_default.json
  public/keymaps/w/westfoxtrot_cypher_rev5_default.json
  public/keymaps/w/wheatfield_blocked65_default.json
  public/keymaps/w/wheatfield_split75_default.json
  public/keymaps/w/wilba_tech_wt60_b_default.json
  public/keymaps/w/wilba_tech_wt60_bx_default.json
  public/keymaps/w/wsk_jerkin_default.json
  public/keymaps/w/wsk_kodachi50_default.json
  public/keymaps/w/wsk_pain27_default.json
  public/keymaps/w/wsk_sl40_default.json
  public/keymaps/w/wsk_tkl30_default.json
  public/keymaps/x/xelus_snap96_default.json
  public/keymaps/y/ymdk_np21_default.json
  public/keymaps/z/zfrontier_big_switch_default.json
Labels: keymap

#703 Issue 692 - Update UI changes for API improvements
  package.json
  src/components/ControllerBottom.vue
  src/components/ControllerTop.vue
  src/components/LayerControl.vue
  src/components/Main.vue
  src/i18n/en.csv
  src/jquery.js
  src/main.js
  src/scss/style.scss
  src/scss/themes.scss
  src/scss/tooltip.scss
  src/store/modules/app/getters.js
  src/store/modules/keymap.js
  yarn.lock
Labels: enhancement

#705 Add default keymap for id80
  public/keymaps/i/id80_default.json
Labels: keymap

#706 Update and Add Default Keymaps: 0-9, A-G
  public/keymaps/7/7skb_rev1_default.json
  public/keymaps/a/aplx6_default.json
  public/keymaps/b/bat43_default.json
  public/keymaps/b/botanicalkeyboards_fm2u_default.json
  public/keymaps/c/cannonkeys_atlas_default.json
  public/keymaps/c/cannonkeys_db60_default.json
  public/keymaps/c/cannonkeys_devastatingtkl_default.json
  public/keymaps/c/cannonkeys_rekt1800_default.json
  public/keymaps/c/cannonkeys_satisfaction75_prototype_default.json
  public/keymaps/c/cannonkeys_satisfaction75_rev1_default.json
  public/keymaps/c/choco60_default.json
  public/keymaps/c/coseyfannitutti_discipline_default.json
  public/keymaps/d/daisy_default.json
  public/keymaps/d/deltasplit75_v2_default.json
  public/keymaps/d/diverge3_default.json
  public/keymaps/d/divergetm2_default.json
  public/keymaps/d/do60_default.json
  public/keymaps/d/donutcables_scrabblepad_default.json
  public/keymaps/d/dozen0_default.json
  public/keymaps/d/dp60_default.json
  public/keymaps/d/duck_eagle_viper_v2_default.json
  public/keymaps/d/duck_jetfire_default.json
  public/keymaps/d/duck_lightsaver_default.json
  public/keymaps/d/duck_orion_v3_default.json
  public/keymaps/d/dz60_default.json
  public/keymaps/d/dztech_dz60rgb_ansi_v1_default.json
  public/keymaps/d/dztech_dz60rgb_ansi_v2_default.json
  public/keymaps/d/dztech_dz60rgb_v1_default.json
  public/keymaps/d/dztech_dz60rgb_v2_default.json
  public/keymaps/d/dztech_dz60rgb_wkl_v1_default.json
  public/keymaps/d/dztech_dz60rgb_wkl_v2_default.json
  public/keymaps/d/dztech_dz65rgb_v1_default.json
  public/keymaps/d/dztech_dz65rgb_v2_default.json
  public/keymaps/e/eco_rev1_default.json
  public/keymaps/e/eco_rev2_default.json
  public/keymaps/e/ergo42_rev1_default.json
  public/keymaps/e/ergodash_mini_default.json
  public/keymaps/e/ergodone_default.json
  public/keymaps/e/ergodox_ez_default.json
  public/keymaps/e/ergotravel_rev1_default.json
  public/keymaps/e/exclusive_e6v2_le_bmc_default.json
  public/keymaps/e/exclusive_e6v2_oe_bmc_default.json
  public/keymaps/f/felix_default.json
  public/keymaps/f/flx_virgo_default.json
  public/keymaps/f/fortitude60_rev1_default.json
  public/keymaps/f/ft_mars80_default.json
  public/keymaps/g/gingham_default.json
  public/keymaps/g/gray_studio_space65_default.json
  public/keymaps/g/gray_studio_think65_hotswap_default.json
  public/keymaps/g/gray_studio_think65_solder_default.json
Labels: keymap

#707 Update and Add Default Keymaps: Handwired Keyboards
  public/keymaps/h/handwired_2x5keypad_default.json
  public/keymaps/h/handwired_412_64_default.json
  public/keymaps/h/handwired_42_default.json
  public/keymaps/h/handwired_6macro_default.json
  public/keymaps/h/handwired_aek64_default.json
  public/keymaps/h/handwired_aranck_default.json
  public/keymaps/h/handwired_bdn9_ble_default.json
  public/keymaps/h/handwired_bluepill_bluepill70_default.json
  public/keymaps/h/handwired_cans12er_default.json
  public/keymaps/h/handwired_ck4x4_default.json
  public/keymaps/h/handwired_colorlice_default.json
  public/keymaps/h/handwired_dactyl_default.json
  public/keymaps/h/handwired_dactyl_manuform_4x5_default.json
  public/keymaps/h/handwired_dactyl_manuform_4x6_default.json
  public/keymaps/h/handwired_dactyl_manuform_5x6_default.json
  public/keymaps/h/handwired_dactyl_manuform_5x7_default.json
  public/keymaps/h/handwired_dactyl_manuform_6x6_default.json
  public/keymaps/h/handwired_dactyl_manuform_dmote_62key_default.json
  public/keymaps/h/handwired_dactyl_promicro_default.json
  public/keymaps/h/handwired_daishi_default.json
  public/keymaps/h/handwired_eagleii_default.json
  public/keymaps/h/handwired_fc200rt_qmk_default.json
  public/keymaps/h/handwired_floorboard_default.json
  public/keymaps/h/handwired_gamenum_default.json
  public/keymaps/h/handwired_heisenberg_default.json
  public/keymaps/h/handwired_hnah40_default.json
  public/keymaps/h/handwired_jot50_default.json
  public/keymaps/h/handwired_jotanck_default.json
  public/keymaps/h/handwired_jotpad16_default.json
  public/keymaps/h/handwired_jtallbean_split_65_default.json
  public/keymaps/h/handwired_k_numpad17_default.json
  public/keymaps/h/handwired_kbod_default.json
  public/keymaps/h/handwired_magicforce61_default.json
  public/keymaps/h/handwired_minorca_default.json
  public/keymaps/h/handwired_not_so_minidox_default.json
  public/keymaps/h/handwired_p65rgb_default.json
  public/keymaps/h/handwired_postageboard_mini_default.json
  public/keymaps/h/handwired_postageboard_r1_default.json
  public/keymaps/h/handwired_prime_exl_default.json
  public/keymaps/h/handwired_prime_exl_plus_default.json
  public/keymaps/h/handwired_prkl30_feather_default.json
  public/keymaps/h/handwired_prkl30_promicro_default.json
  public/keymaps/h/handwired_pteron_default.json
  public/keymaps/h/handwired_qc60_proto_default.json
  public/keymaps/h/handwired_sick68_default.json
  public/keymaps/h/handwired_terminus_mini_default.json
  public/keymaps/h/handwired_videowriter_default.json
  public/keymaps/h/handwired_wulkan_default.json
  public/keymaps/h/handwired_xealous_rev1_default.json
Labels: keymap

#708 Fix EEP_RST key on ergodox ez default keymap
  public/keymaps/e/ergodox_ez_default.json
Labels: keymap

#665 Updating Colorways Part I
  src/components/colorways/gmk/8008.js
  src/components/colorways/gmk/9009.js
  src/components/colorways/gmk/analog_dreams.js
  src/components/colorways/gmk/ascii.js
  src/components/colorways/gmk/bento.js
  src/components/colorways/gmk/bingsu.js
  src/components/colorways/gmk/cafe.js
  src/components/colorways/gmk/calm_depths.js
  src/components/colorways/gmk/camping.js
  src/components/colorways/gmk/coral.js
  src/components/colorways/gmk/index.js
  src/scss/colorways.scss
Labels: enhancement

#709 Add optional typerwriter sounds while testing
  package.json
  public/typewriter-2.mp3
  src/components/VisualTesterKeymap.vue
  src/i18n/en.csv
  src/main.js
  yarn.lock
Labels: feature

#713 Add dynamic width to ANY input (fixed PR)
  src/components/AnyKey.vue
  src/components/LayerKey.vue
  src/scss/style.scss
Labels: enhancement

#715 Updated Keyboard Exclusion List and Redirect Table: 2020-04-19
  public/keymaps/p/projectkb_alice_rev1_default.json
  public/keymaps/p/projectkb_alice_rev2_default.json
  public/keymaps/y/yd60mq_12led_default.json
  public/keymaps/y/yd60mq_16led_default.json
  public/keymaps/y/ymd75_rev1_default.json
  public/keymaps/y/ymd75_rev2_default.json
  src/jquery.js
  src/remap.js
Labels: enhancement

#716 Add dark mode if user OS has opted in.
  src/store/modules/app/state.js
  tests/integration/localStorage.spec.js
Labels: enhancement

#717 Translate Keycodes on Keymap Import
  src/jquery.js
  src/longFormKeycodes.js
  src/store/modules/keycodes/kb-settings.js
Labels: enhancement

#675 Added default keymap for keeb.werk nano.slider
  public/keymaps/k/keebwerk_nano_slider_default.json
Labels: keymap

#721 Update keymaps for montsinger/rebound
  public/keymaps/m/montsinger_rebound_rev1_default.json
  public/keymaps/m/montsinger_rebound_rev2_default.json
  src/jquery.js
  src/remap.js
Labels: keymap

#724 Fix Key Legend Scaling
  src/components/BaseKey.vue
  src/store/modules/keymap.js
Labels: bug, enhancement
