Repository qmk/qmk_configurator, pull requests merged in 2020-01, with the labels that each got.

#610 CSS Polishing
  src/components/ControllerBottom.vue
  src/components/InfoBar.vue
  src/components/Keycodes.vue
  src/components/Main.vue
  src/components/SettingsPanel.vue
  src/components/StatusBar.vue
  src/i18n/en/index.js
  src/scss/status-bar.scss
  src/scss/style.scss
  src/scss/themes.scss
Labels: WIP, enhancement

#631 add default keymaps for Cannonkeys Satisfaction75
  public/keymaps/cannonkeys_satisfaction75_prototype_default.json
  public/keymaps/cannonkeys_satisfaction75_rev1_default.json
Labels: keymap

#633 add default keymap for DB63
  public/keymaps/db_db63_default.json
Labels: keymap

#634 Update Japanese translation
  src/i18n/ja/index.js
Labels: translation

#635 add default keymap for Doppelganger
  public/keymaps/doppelganger_default.json
Labels: keymap

#636 add default keymaps: G-W
  public/keymaps/gray_studio_cod67_default.json
  public/keymaps/grid600_press_default.json
  public/keymaps/handwired_chiron_default.json
  public/keymaps/handwired_dactyl_left_default.json
  public/keymaps/handwired_fruity60_default.json
  public/keymaps/handwired_hnah108_default.json
  public/keymaps/handwired_hnah40rgb_default.json
  public/keymaps/handwired_minorca_default.json
  public/keymaps/handwired_owlet60_default.json
  public/keymaps/handwired_slash_default.json
  public/keymaps/handwired_splittest_promicro_default.json
  public/keymaps/handwired_splittest_teensy_2_default.json
  public/keymaps/handwired_sticc14_default.json
  public/keymaps/handwired_symmetry60_default.json
  public/keymaps/hineybush_sm68_default.json
  public/keymaps/ivy_rev1_default.json
  public/keymaps/j80_default.json
  public/keymaps/jae_j01_default.json
  public/keymaps/just60_default.json
  public/keymaps/kbdfans_kbd67_mkii_soldered_default.json
  public/keymaps/kbdfans_kbd75_rev2_default.json
  public/keymaps/kbdfans_kbdpad_mk1_default.json
  public/keymaps/keebio_ergodicity_default.json
  public/keymaps/keebio_iris_rev4_default.json
  public/keymaps/keyhive_maypad_default.json
  public/keymaps/kingly_keys_little_foot_default.json
  public/keymaps/kingly_keys_romac_default.json
  public/keymaps/kingly_keys_romac_plus_default.json
  public/keymaps/kingly_keys_ropro_default.json
  public/keymaps/kingly_keys_smd_milk_default.json
  public/keymaps/kingly_keys_soap_default.json
  public/keymaps/kudox_rev1_default.json
  public/keymaps/kudox_rev2_default.json
  public/keymaps/kyria_rev1_default.json
  public/keymaps/laptreus_default.json
  public/keymaps/leeku_finger65_default.json
  public/keymaps/maxr1998_phoebe_default.json
  public/keymaps/mechlovin_hannah910_default.json
  public/keymaps/nafuda_default.json
  public/keymaps/noxary_268_2_default.json
  public/keymaps/percent_skog_default.json
  public/keymaps/percent_skog_lite_default.json
  public/keymaps/redscarf_iiplus_verd_default.json
  public/keymaps/retro_75_default.json
  public/keymaps/reviung34_default.json
  public/keymaps/romac_default.json
  public/keymaps/sck_gtm_default.json
  public/keymaps/sck_m0116b_default.json
  public/keymaps/sck_neiso_default.json
  public/keymaps/sck_osa_default.json
  public/keymaps/setta21_rev1_default.json
  public/keymaps/smk60_default.json
  public/keymaps/stella_default.json
  public/keymaps/tg4x_default.json
  public/keymaps/ua62_default.json
  public/keymaps/uzu42_rev1_default.json
  public/keymaps/v60_type_r_default.json
  public/keymaps/vn66_default.json
  public/keymaps/wilba_tech_rama_works_u80_a_default.json
  public/keymaps/wilba_tech_wt60_d_default.json
Labels: keymap

#637 add default keymap for ymdk/ymd09
  public/keymaps/ymdk_ymd09_default.json
Labels: keymap

#638 update keymaps for angel64
  public/keymaps/angel64_alpha_default.json
  public/keymaps/angel64_default.json
  public/keymaps/angel64_rev1_default.json
  src/jquery.js
Labels: keymap

#588 Docker setup with nginx
  Dockerfile
  README.md
  bin/docker_build.sh
  bin/docker_run.sh
  conf/nginx.conf.in
  conf/yarn.list
Labels: WIP, enhancement, feature

#642 Update HS60 v2 default keymaps
  public/keymaps/hs60_v2_ansi_default.json
  public/keymaps/hs60_v2_default.json
  public/keymaps/hs60_v2_hhkb_default.json
  public/keymaps/hs60_v2_iso_default.json
Labels: keymap

#644 Add default keymap for maxr1998/pulse4k
  public/keymaps/maxr1998_pulse4k_default.json
Labels: keymap

#645 Updated Keyboard Exclusion List: 2020-01-30
  src/jquery.js
Labels: enhancement
