Repository qmk/qmk_configurator, pull requests merged in 2020-09, with the labels that each got.

#803 add_keymap_chavdai40rev2
  public/keymaps/c/chavdai40_rev1_default.json
  public/keymaps/c/chavdai40_rev2_default.json
Labels: keymap

#807 add rhymestone keymap
  public/keymaps/m/marksard_rhymestone_rev1.json
Labels: keymap

#810 Pick a random first keyboard
  src/components/ControllerTop.vue
Labels: enhancement

#811 remove unuse information
  public/keymaps/m/marksard_rhymestone_rev1.json
Labels: keymap

#812 Add Squishy65 default keymap
  public/keymaps/r/ramonimbao_squishy65_default.json
Labels: keymap

#808 add leftover30 keymap
  public/keymaps/m/marksard_leftover30.json
Labels: keymap, on hold

#814 Fixed rename marksard keymaps
  public/keymaps/m/marksard_leftover30_default.json
  public/keymaps/m/marksard_rhymestone_rev1_default.json
Labels: keymap

#815 adjust json file to keymap.c file
  public/keymaps/h/handwired_zergo_default.json
Labels: keymap

#817 Fix K-Type default keymap
  public/keymaps/k/k_type_default.json
Labels: bug, keymap

#822 Add SA Bliss Colorway
  src/components/colorways/sa/bliss.js
  src/components/colorways/sa/index.js
  src/scss/colorways.scss
  src/scss/pantone.scss
Labels: keyset colorway
