Repository qmk/qmk_configurator, pull requests merged in 2020-08, with the labels that each got.

#783 [Keymap] Add default keymap data for pom_keyboards/tnln95
  public/keymaps/p/pom_keyboards_tnln95_default.json
Labels: keymap

#789 [Keymap] Add qmk_configurator keymap chavdai40
  public/keymaps/c/chavdai40_default.json
Labels: keymap

#791 Update GHS.RAR commit hash
  public/keymaps/g/ghs_rar_default.json
Labels: keymap

#798 Dark Theme Updates
  src/scss/style.scss
  src/scss/themes.scss
  src/views/Print.vue
Labels: enhancement

#799 scss/themes.scss fix
  src/scss/themes.scss
Labels: bug

#774 [Keymap] Add Dactyl Manuform 5x6 with 5 thumb keys
  public/keymaps/h/handwired_dactyl_manuform_5x6_5_default.json
Labels: keymap, on hold
