Repository qmk/qmk_configurator, pull requests merged in 2020-06, with the labels that each got.

#732 Murcielago: change keymap according to qmk defaults
  public/keymaps/m/murcielago_rev1_default.json
Labels: keymap

#745 Add default keymaps for Clawsome keyboards
  public/keymaps/c/clawsome_bookerboard_default.json
  public/keymaps/c/clawsome_sidekick_default.json
Labels: keymap

#756 Add mixi default keymap
  public/keymaps/m/mixi_default.json
Labels: keymap

#757 Resync locale and update Japanese translation
  src/i18n/de.csv
  src/i18n/en.csv
  src/i18n/es.csv
  src/i18n/fr.csv
  src/i18n/it.csv
  src/i18n/ja.csv
  src/i18n/ms.csv
  src/i18n/pl-PL.csv
  src/i18n/pt-BR.csv
  src/i18n/ru.csv
  src/i18n/zh.csv
Labels: translation

#753 Add some diagnostic messages for unknown layouts
  src/components/VisualKeymap.vue
Labels: enhancement

#759 Fix custom key sizes
  src/components/BaseKey.vue
Labels: bug

#758 Add layout for jian
  public/keymaps/j/jian_handwired_default.json
  public/keymaps/j/jian_nsrev2_default.json
  public/keymaps/j/jian_rev1_default.json
  public/keymaps/j/jian_rev2_default.json
  src/jquery.js
Labels: keymap

#760 Improve key size calculations
  src/components/BaseKey.vue
  src/components/BaseKeymap.vue
Labels: enhancement

#765 Update Wete default keymap
  public/keymaps/r/ramonimbao_wete_default.json
Labels: keymap

#766 Add Herringbone default keymap
  public/keymaps/r/ramonimbao_herringbone_default.json
Labels: keymap
