Repository qmk/qmk_configurator, pull requests merged in 2020-07, with the labels that each got.

#771 Add "choc_taro" default keymap
  public/keymaps/c/choc_taro_default.json
Labels: keymap

#767 Add GHS.RAR default keymap
  public/keymaps/g/ghs_rar_default.json
Labels: keymap, on hold

#773 Update and Add Default Keymaps: 2020-07-04
  public/keymaps/4/4pplet_aekiso60_rev_a_default.json
  public/keymaps/4/4pplet_steezy60_rev_a_default.json
  public/keymaps/4/4pplet_waffling60_rev_a_default.json
  public/keymaps/a/arisu_default.json
  public/keymaps/b/boardsource_4x12_default.json
  public/keymaps/b/boardsource_5x12_default.json
  public/keymaps/b/botanicalkeyboards_fm2u_default.json
  public/keymaps/c/clawsome_coupe_default.json
  public/keymaps/c/clawsome_gamebuddy_default.json
  public/keymaps/c/clawsome_sedan_default.json
  public/keymaps/e/exclusive_e85_default.json
  public/keymaps/f/fallacy_default.json
  public/keymaps/g/gowla_default.json
  public/keymaps/h/handwired_brain_default.json
  public/keymaps/h/handwired_jotanck_default.json
  public/keymaps/h/handwired_unk_rev1_default.json
  public/keymaps/h/hid_liber_default.json
  public/keymaps/h/hineybush_h60_default.json
  public/keymaps/j/jj50_default.json
  public/keymaps/k/keebio_kbo5000_rev1_default.json
  public/keymaps/m/m0lly_default.json
  public/keymaps/m/maartenwut_eon65_default.json
  public/keymaps/m/maartenwut_eon87_default.json
  public/keymaps/m/maartenwut_eon95_default.json
  public/keymaps/m/mechlovin_adelais_rgb_led_default.json
  public/keymaps/m/mechlovin_adelais_standard_led_rev2_default.json
  public/keymaps/m/mechlovin_adelais_standard_led_rev3_default.json
  public/keymaps/m/murcielago_rev1_default.json
  public/keymaps/n/nebula12_default.json
  public/keymaps/n/nebula65_default.json
  public/keymaps/n/noxary_268_2_default.json
  public/keymaps/n/noxary_x268_default.json
  public/keymaps/r/rart_rart67_default.json
  public/keymaps/r/rotr_default.json
  public/keymaps/x/xelus_trinityxttkl_default.json
  public/keymaps/y/ymdk_sp64_default.json
  src/jquery.js
  src/remap.js
Labels: keymap

#776 Update commit hashes for Herringbone and GHS.RAR
  public/keymaps/g/ghs_rar_default.json
  public/keymaps/r/ramonimbao_herringbone_default.json
Labels: keymap

#775 Add some recent colorways from GMK, JTK, KAT
  src/components/Main.vue
  src/components/colorways/dsa/index.js
  src/components/colorways/gmk/deku.js
  src/components/colorways/gmk/hammerhead_dark.js
  src/components/colorways/gmk/hammerhead_light.js
  src/components/colorways/gmk/index.js
  src/components/colorways/index.js
  src/components/colorways/jtk/index.js
  src/components/colorways/jtk/suited_assassin.js
  src/components/colorways/kat/hyperfuse.js
  src/components/colorways/kat/index.js
  src/components/colorways/kat/oasis.js
  src/scss/colorways.scss
  src/scss/pantone.scss
Labels: help wanted, on hold

#778 add adelheid default keymap
  public/keymaps/a/adelheid_default.json
Labels: keymap

#779 Add metamechs/timberwolf default keymap
  public/keymaps/m/metamechs_timberwolf_default.json
Labels: keymap

#770 Keycode Updates
  src/components/colorways/index.js
  src/components/colorways/modCodes.js
  src/main.js
  src/scss/style.scss
  src/store/modules/keycodes/ansi.js
  src/store/modules/keycodes/app-media-mouse.js
  src/store/modules/keycodes/iso-jis.js
  src/store/modules/keycodes/kb-settings.js
Labels: enhancement

#780 Update and Add Default Keymaps: 2020-07-27
  public/keymaps/a/akegata_denki_device_one_default.json
  public/keymaps/b/bioi_g60ble_default.json
  public/keymaps/b/boardsource_3x4_default.json
  public/keymaps/c/cannonkeys_atlas_default.json
  public/keymaps/c/cannonkeys_instant65_default.json
  public/keymaps/c/chili_default.json
  public/keymaps/c/clawsome_numeros_default.json
  public/keymaps/c/clueboard_card_default.json
  public/keymaps/c/craftwalk_default.json
  public/keymaps/d/do60_default.json
  public/keymaps/g/ghs_rar_default.json
  public/keymaps/h/handwired_boss566y_redragon_vara_default.json
  public/keymaps/h/handwired_ferris_default.json
  public/keymaps/h/handwired_k8split_default.json
  public/keymaps/h/handwired_splittest_teensy_2_default.json
  public/keymaps/h/handwired_swiftrax_cowfish_default.json
  public/keymaps/h/handwired_z150_default.json
  public/keymaps/h/hineybush_sm68_default.json
  public/keymaps/j/jiran_rev1_default.json
  public/keymaps/j/jiran_rev2_default.json
  public/keymaps/k/kbdfans_kbd67_mkii_soldered_default.json
  public/keymaps/k/kbdfans_maja_default.json
  public/keymaps/k/keybage_radpad_default.json
  public/keymaps/k/kinesis_kint2pp_default.json
  public/keymaps/k/kudox_columner_default.json
  public/keymaps/m/maartenwut_pockettype_default.json
  public/keymaps/m/metamechs_timberwolf_default.json
  public/keymaps/n/nightly_boards_alter_rev1_default.json
  public/keymaps/n/nightly_boards_n87_default.json
  public/keymaps/n/nightly_boards_ph_arisu_default.json
  public/keymaps/n/noxary_220_default.json
  public/keymaps/n/noxary_280_default.json
  public/keymaps/p/pabile_p18_default.json
  public/keymaps/p/pabile_p20_default.json
  public/keymaps/p/pabile_p40_default.json
  public/keymaps/p/pandora_default.json
  public/keymaps/p/punk75_default.json
  public/keymaps/q/qaz_default.json
  public/keymaps/r/ramonimbao_herringbone_default.json
  public/keymaps/r/rart_rart75_default.json
  public/keymaps/r/rart_rartpad_default.json
  public/keymaps/r/reviung61_default.json
  public/keymaps/s/silverbullet44_default.json
  public/keymaps/s/sofle_rev1_default.json
  public/keymaps/s/squiggle_default.json
  public/keymaps/t/tgr_910ce_default.json
  public/keymaps/t/tgr_tris_default.json
  public/keymaps/t/tkc_godspeed75_default.json
  public/keymaps/t/tkc_osav2_default.json
  public/keymaps/x/x16_default.json
  public/keymaps/y/ymd75_rev1_default.json
  public/keymaps/y/ymd75_rev2_default.json
  src/jquery.js
Labels: keymap
