Repository qmk/qmk_configurator, pull requests merged in 2020-11, with the labels that each got.

#836 Add Configurator Keyset Theme "GMK Fro.Yo"
  src/components/Main.vue
  src/components/colorways/gmk/fro_dot_yo.js
  src/components/colorways/gmk/index.js
  src/scss/colorways.scss
  src/scss/pantone.scss
Labels: keyset colorway

#843 feat: add GMK Grand Prix
  src/components/colorways/gmk/grand_prix.js
  src/components/colorways/gmk/index.js
  src/scss/colorways.scss
Labels: keyset colorway

#847 Added default keymap for nack keyboard
  public/keymaps/n/nack_default.json
Labels: keymap

#850 Add a default keymap for yoichiro/lunakey_mini keyboard
  public/keymaps/y/yoichiro_lunakey_mini_default.json
Labels: keymap

#851 Update pt-BR.csv
  src/i18n/pt-BR.csv
Labels: translation
