Repository qmk/qmk_configurator, pull requests merged in 2020-02, with the labels that each got.

#648 Add default keymap for Drink Me
  docs/keymaps/yatara_drink_me_default.json
  public/keymaps/yatara_drink_me_default.json
Labels: keymap

#649 Add ergosaurus default keymap
  public/keymaps/ergosaurus_default.json
Labels: keymap

#651 add default keymaps: X
  public/keymaps/xbows_knight_default.json
  public/keymaps/xbows_woody_default.json
  public/keymaps/xd68_default.json
  public/keymaps/xelus_dawn60_default.json
  public/keymaps/xiaomi_mk02_default.json
Labels: keymap

#652 add default keymaps: Y
  public/keymaps/ymdk_ymd67_default.json
  public/keymaps/yurei_default.json
Labels: keymap

#653 add default keymap for Prime_L V2
  public/keymaps/p/primekb_prime_l_v2_default.json
Labels: keymap

#659 Updated Keyboard Exclusion List and Redirect Table: 2020-02-20
  public/keymaps/m/mechlovin_hannah910_default.json
  public/keymaps/m/mechlovin_hannah910_rev1_default.json
  public/keymaps/m/mechlovin_hannah910_rev2_default.json
  public/keymaps/p/primekb_prime_l_v1_default.json
  src/jquery.js
  src/remap.js
Labels: enhancement, keymap

#661 Patch 40percent.club Gherkin default keymap
  public/keymaps/4/40percentclub_gherkin_default.json
Labels: keymap

#663 Upgrade Vue CLI to 4
  babel.config.js
  package.json
  src/router/index.js
  yarn.lock
Labels: dependencies, enhancement, refactor

#664 Add default Wete keymap
  public/keymaps/w/wete_default.json
Labels: keymap
