Repository qmk/qmk_configurator, pull requests merged in 2020-03, with the labels that each got.

#666 Fix spacing
  src/components/Main.vue
Labels: bug

#667 Redirect Table: 2020-03-01
  src/remap.js
Labels: enhancement

#671 Update default keymaps for LFKeyboards LFK78
  public/keymaps/l/lfkeyboards_lfk78_revb_default.json
  public/keymaps/l/lfkeyboards_lfk78_revc_default.json
  public/keymaps/l/lfkeyboards_lfk78_revj_default.json
  src/jquery.js
  src/remap.js
Labels: keymap

#673 Update default keymap for YD60MQ
  public/keymaps/y/yd60mq_default.json
Labels: keymap

#679 Add default keymaps for ai03 Equinox
  public/keymaps/a/ai03_equinox_rev0_default.json
  public/keymaps/a/ai03_equinox_rev1_default.json
  src/jquery.js
  src/remap.js
Labels: keymap

#674 Candybar: update to address different layouts.
  public/keymaps/c/candybar_lefty_default.json
  public/keymaps/c/candybar_righty_default.json
Labels: keymap

#680 add default keymap for kira80
  public/keymaps/k/kira80_default.json
Labels: keymap
