Repository qmk/qmk_configurator, pull requests merged in 2021-08, with the labels that each got.

#966 Update Default Keymaps: 2021-08-01
  public/keymaps/a/alu84_default.json
  public/keymaps/a/anomalykb_a65i_default.json
  public/keymaps/a/atomic_default.json
  public/keymaps/c/cannonkeys_balance_default.json
  public/keymaps/c/charue_sunsetter_default.json
  public/keymaps/c/chlx_merro60_default.json
  public/keymaps/c/clawsome_luggage_rack_default.json
  public/keymaps/c/converter_a1200_default.json
  public/keymaps/m/mnk1800s_default.json
  public/keymaps/m/momoka_ergo_default.json
  public/keymaps/n/neito_default.json
  public/keymaps/o/ocean_sus_default.json
  public/keymaps/p/pearlboards_pandora_default.json
  public/keymaps/p/portal_66_default.json
  public/keymaps/r/ramonimbao_mona_default.json
  public/keymaps/r/ramonimbao_mona_v1_1_default.json
  public/keymaps/r/ramonimbao_mona_v1_default.json
  public/keymaps/x/xbows_ranger_default.json
Labels: keymap

#969 Add default keymap for Runes Vaengr
  public/keymaps/r/runes_vaengr_default.json
Labels: keymap

#979 Switch Quefrency default layout to 65% with macro section
  public/keymaps/k/keebio_quefrency_rev1_default.json
  public/keymaps/k/keebio_quefrency_rev2_default.json
  public/keymaps/k/keebio_quefrency_rev3_default.json
  public/keymaps/k/keebio_quefrency_rev4_default.json
Labels: keymap

#978 [converter/a1200] Match layout name
  public/keymaps/c/converter_a1200_miss1200_default.json
  public/keymaps/c/converter_a1200_teensy2pp_default.json
Labels: on hold, keymap

#984 Change tooltip message
  src/i18n/en.csv
Labels: enhancement

#987 [BUG] Sync layer 1 of gmmk/pro/ansi with qmk_firmware
  docs/keymaps/g/gmmk_pro_default.json
  public/keymaps/g/gmmk_pro_ansi_default.json
Labels: keymap
