Repository qmk/qmk_configurator, pull requests merged in 2021-12, with the labels that each got.

#1023 Update Default Keymaps: 2021-11-30
  public/keymaps/4/40percentclub_polyandry_promicro_default.json
  public/keymaps/4/40percentclub_polyandry_teensy2_default.json
  public/keymaps/d/dtisaac_dosa40rgb_default.json
  public/keymaps/h/han60_default.json
  public/keymaps/h/handwired_nozbe_macro_default.json
  public/keymaps/k/kb_elmo_vertex_default.json
  public/keymaps/m/macro3_default.json
  public/keymaps/m/mode_m65ha_alpha_default.json
  public/keymaps/m/mode_m65hi_alpha_default.json
  public/keymaps/m/mwstudio_mw65_black_default.json
  public/keymaps/p/plut0nium_0x3e_default.json
  public/keymaps/r/ramonimbao_wete_default.json
  public/keymaps/r/ramonimbao_wete_v1_default.json
  public/keymaps/r/ramonimbao_wete_v2_default.json
  public/keymaps/s/skippys_custom_pcs_roopad_default.json
  public/keymaps/t/takashicompany_dogtag_default.json
  public/keymaps/t/takashicompany_endzone34_default.json
  public/keymaps/t/tgr_jane_v2ce_default.json
Labels: keymap

#1032 added jorne/rev1 keymap
  public/keymaps/j/jorne_rev1_default.json
Labels: keymap

#1028 Fix Portuguese to use the correct endonym Português
  src/store/modules/app/state.js
Labels: translation

#1026 Add `keycodesTab:Steno:label` to the translations
  src/i18n/de.csv
  src/i18n/en.csv
  src/i18n/es.csv
  src/i18n/fr.csv
  src/i18n/it.csv
  src/i18n/ja.csv
  src/i18n/ms.csv
  src/i18n/pl-PL.csv
  src/i18n/pt-BR.csv
  src/i18n/ru.csv
  src/i18n/zh-CN.csv
  src/i18n/zh.csv
Labels: enhancement, translation

#1033 Add zh-cn translation for "clear layer"
  src/i18n/zh-CN.csv
Labels: translation

#1031 add default keymap: mechbrewery/mb65s
  public/keymaps/m/mechbrewery_mb65s_default.json
Labels: keymap

#1034 Add keycode RESET for MechBrewery MB-65S
  public/keymaps/m/mechbrewery_mb65s_default.json
Labels: keymap

#1035 added keymap for k34
  public/keymaps/k/k34_default.json
Labels: keymap

#1036 add default keymap: mntre
  public/keymaps/m/mntre_default.json
Labels: keymap
