Repository qmk/qmk_configurator, pull requests merged in 2021-07, with the labels that each got.

#947 Fix printing keymaps with empty layer - Issue 852
  src/components/PrintKey.vue
  src/components/PrintKeymap.vue
  src/views/Print.vue
Labels: awaiting review

#942 hatchback+suv
  public/keymaps/c/clawsome_hatchback_default.json
  public/keymaps/c/clawsome_suv_default.json
Labels: keymap

#953 Update Default Keymaps: 2021-07-13
  public/keymaps/1/1upkeyboards_1up60hte_default.json
  public/keymaps/4/4pplet_aekiso60_rev_a_default.json
  public/keymaps/a/aeboards_constellation_rev1_default.json
  public/keymaps/a/aeboards_constellation_rev2_default.json
  public/keymaps/a/alfredslab_swift65_solder_default.json
  public/keymaps/a/amj60_default.json
  public/keymaps/c/cannonkeys_db60_hotswap_default.json
  public/keymaps/c/cannonkeys_db60_j02_default.json
  public/keymaps/c/cannonkeys_db60_rev2_default.json
  public/keymaps/c/capsunlocked_cu7_default.json
  public/keymaps/c/checkerboards_nop60_default.json
  public/keymaps/c/choco60_rev1_default.json
  public/keymaps/c/choco60_rev2_default.json
  public/keymaps/d/dztech_dz65rgb_v3_default.json
  public/keymaps/e/ergodox_ez_glow_default.json
  public/keymaps/e/ergodox_ez_shine_default.json
  public/keymaps/f/ferris_0_2_default.json
  public/keymaps/h/handwired_onekey_blackpill_f411_tinyuf2_default.json
  public/keymaps/h/handwired_traveller_default.json
  public/keymaps/h/helix_pico_sc_default.json
  public/keymaps/i/ianklug_grooveboard_default.json
  public/keymaps/k/keebio_quefrency_rev2_default.json
  public/keymaps/k/keebio_quefrency_rev3_default.json
  public/keymaps/k/keebio_quefrency_rev4_default.json
  public/keymaps/k/keebio_sinc_rev2_default.json
  public/keymaps/k/keebio_wtf60_default.json
  public/keymaps/k/keyprez_corgi_default.json
  public/keymaps/k/kinesis_kint36_default.json
  public/keymaps/k/kopibeng_xt65_default.json
  public/keymaps/k/kwub_bloop_default.json
  public/keymaps/l/latinpadble_default.json
  public/keymaps/l/lucid_phantom_solder_default.json
  public/keymaps/m/mechlovin_infinity87_rev1_rogue87_default.json
  public/keymaps/m/mechlovin_infinity87_rev1_rouge87_default.json
  public/keymaps/m/mechlovin_infinity87_rev1_standard_default.json
  public/keymaps/m/mechlovin_infinity87_rev2_default.json
  public/keymaps/m/mechlovin_infinity87_rgb_rev1_default.json
  public/keymaps/m/melgeek_mj61_rev2_default.json
  public/keymaps/m/melgeek_mj63_rev2_default.json
  public/keymaps/m/melgeek_mj64_rev3_default.json
  public/keymaps/m/melgeek_mj6xy_rev3_default.json
  public/keymaps/n/nk65_v1_4_default.json
  public/keymaps/n/nopunin10did_jabberwocky_default.json
  public/keymaps/p/phase_studio_titan65_default.json
  public/keymaps/p/pistachio_rev1_default.json
  public/keymaps/p/pistachio_rev2_default.json
  public/keymaps/p/planck_thk_default.json
  public/keymaps/p/ploopyco_trackball_mini_rev1_002_default.json
  public/keymaps/p/primekb_prime_e_rgb_default.json
  public/keymaps/p/primekb_prime_e_std_default.json
  public/keymaps/s/squiggle_rev1_default.json
  public/keymaps/t/treadstone32_rev1_default.json
  public/keymaps/w/wings42_rev1_default.json
  public/keymaps/w/wings42_rev1_extkeys_default.json
  public/keymaps/w/wuque_ikki68_aurora_default.json
  public/keymaps/y/ymd75_rev3_default.json
  src/jquery.js
Labels: keymap

#948 Update ru.csv
  src/i18n/ru.csv
Labels: enhancement, translation

#958 Add Keychron Q1
  public/keymaps/k/keychron_q1_rev_0100_default.json
Labels: keymap

#961 Update Default Keymaps: 2021-07-28
  public/keymaps/0/0xcb_1337_default.json
  public/keymaps/a/acr60_default.json
  public/keymaps/a/ares_default.json
  public/keymaps/b/boardsource_holiday_spooky_default.json
  public/keymaps/b/boardsource_technik_s_default.json
  public/keymaps/c/cannonkeys_aella_default.json
  public/keymaps/c/cannonkeys_vicious40_default.json
  public/keymaps/c/cherrybstudio_cb1800_default.json
  public/keymaps/c/clawsome_luggage_rack_default.json
  public/keymaps/c/clueboard_2x1800_2021_default.json
  public/keymaps/c/clueboard_66_hotswap_gen1_default.json
  public/keymaps/c/compound_default.json
  public/keymaps/c/converter_periboard_512_default.json
  public/keymaps/e/edi_hardlight_mk1_default.json
  public/keymaps/e/emi20_default.json
  public/keymaps/e/ergodox_ez_default.json
  public/keymaps/e/esca_getawayvan_default.json
  public/keymaps/e/esca_getawayvan_f042_default.json
  public/keymaps/e/eyeohdesigns_babyv_default.json
  public/keymaps/e/eyeohdesigns_sprh_default.json
  public/keymaps/f/flxlb_zplit_default.json
  public/keymaps/h/h0oni_hotduck_default.json
  public/keymaps/h/halfcliff_default.json
  public/keymaps/i/id67_default.json
  public/keymaps/k/kineticlabs_emu_hotswap_default.json
  public/keymaps/k/kineticlabs_emu_soldered_default.json
  public/keymaps/k/knobgoblin_default.json
  public/keymaps/m/mechlovin_infinity87_rev1_rogue87_default.json
  public/keymaps/m/mechlovin_infinity87_rev1_rouge87_default.json
  public/keymaps/m/mechlovin_serratus_default.json
  public/keymaps/m/mechwild_obe_f401_default.json
  public/keymaps/m/mechwild_obe_f411_default.json
  public/keymaps/m/melgeek_mojo68_rev1_default.json
  public/keymaps/m/model_v_default.json
  public/keymaps/m/moonlander_default.json
  public/keymaps/n/nack_default.json
  public/keymaps/o/ocean_sus_default.json
  public/keymaps/o/ogurec_left_pm_default.json
  public/keymaps/o/ogurec_right_pm_default.json
  public/keymaps/p/peranekofactory_tone_rev1_default.json
  public/keymaps/p/peranekofactory_tone_rev2_default.json
  public/keymaps/q/q4z_default.json
  public/keymaps/r/rart_rartland_default.json
  public/keymaps/r/ristretto_default.json
  public/keymaps/s/sawnsprojects_satxri6key_default.json
  public/keymaps/s/sekigon_grs_70ec_default.json
  public/keymaps/s/sixkeyboard_default.json
  public/keymaps/s/stratos_default.json
  public/keymaps/t/tiger910_default.json
  public/keymaps/t/tkc_portico_default.json
  public/keymaps/t/treasure_type9s2_default.json
  public/keymaps/t/tronguylabs_m122_3270_blackpill_default.json
  public/keymaps/t/tronguylabs_m122_3270_teensy_default.json
  public/keymaps/t/txuu_default.json
  public/keymaps/w/wekey_we27_default.json
  public/keymaps/x/xbows_knight_default.json
  public/keymaps/x/xbows_ranger_default.json
  public/keymaps/x/xelus_akis_default.json
  public/keymaps/x/xelus_dharma_default.json
Labels: keymap
