Repository qmk/qmk_configurator, pull requests merged in 2022-06, with the labels that each got.

#1128 Update Default Keymaps and Redirect Table: QMK 0.17.0
  public/keymaps/a/amjkeyboard_amj40_default.json
  public/keymaps/a/amjkeyboard_amj60_default.json
  public/keymaps/a/amjkeyboard_amj96_default.json
  public/keymaps/a/amjkeyboard_amjpad_default.json
  public/keymaps/g/gmmk_pro_rev1_ansi_default.json
  public/keymaps/g/gmmk_pro_rev1_iso_default.json
  public/keymaps/k/keyhive_absinthe_default.json
  public/keymaps/k/keyhive_ergosaurus_default.json
  public/keymaps/k/keyhive_honeycomb_default.json
  public/keymaps/k/keyhive_lattice60_default.json
  public/keymaps/k/keyhive_navi10_rev0_default.json
  public/keymaps/k/keyhive_navi10_rev2_default.json
  public/keymaps/k/keyhive_navi10_rev3_default.json
  public/keymaps/k/keyhive_opus_default.json
  public/keymaps/k/keyhive_smallice_default.json
  public/keymaps/k/keyhive_southpole_default.json
  public/keymaps/k/keyhive_uno_rev1_default.json
  public/keymaps/k/keyhive_uno_rev2_default.json
  public/keymaps/k/keyhive_ut472_default.json
  public/keymaps/m/mt_blocked65_default.json
  public/keymaps/m/mt_mt40_default.json
  public/keymaps/m/mt_mt64rgb_default.json
  public/keymaps/m/mt_mt84_default.json
  public/keymaps/m/mt_mt980_default.json
  public/keymaps/m/mt_split75_default.json
  public/keymaps/v/viktus_at101_bh_default.json
  public/keymaps/v/viktus_omnikey_bh_default.json
  public/keymaps/v/viktus_z150_bh_default.json
  public/keymaps/y/ymdk_melody96_default.json
  src/remap.js
Labels: enhancement, keymap

#1131 Color Contrast Updates for Nested Keycodes: DCS Edition
  src/scss/colorways/_sp.scss
Labels: enhancement, keyset colorway

#1133 Color Contrast Updates for Nested Keycodes: DSA Edition
  src/scss/colorways/_keyreative.scss
  src/scss/colorways/_sp.scss
Labels: enhancement, keyset colorway

#1138 Color Contrast Updates for Nested Keycodes: SA Edition
  src/scss/colorways/_sp.scss
Labels: enhancement, keyset colorway

#1139 Color Contrast Updates for Nested Keycodes: GMK Edition
  src/components/Main.vue
  src/scss/colorways/_gmk.scss
Labels: enhancement, keyset colorway

#1140 Color Contrast Updates for Nested Keycodes: JTK/KAT Edition
  src/scss/colorways/_jtk.scss
  src/scss/colorways/_keyreative.scss
Labels: enhancement, keyset colorway

#1144 Add default keymap for MechBrewery MB-65H
  public/keymaps/m/mechbrewery_mb65h_default.json
Labels: keymap

#1146 Update Keebio Quefrency Default Keymaps
  public/keymaps/k/keebio_quefrency_rev1_default.json
  public/keymaps/k/keebio_quefrency_rev2_default.json
  public/keymaps/k/keebio_quefrency_rev3_default.json
  public/keymaps/k/keebio_quefrency_rev4_default.json
Labels: keymap
