Repository qmk/qmk_configurator, pull requests merged in 2022-10, with the labels that each got.

#1192 Update adpenrose/kintsugi default keymap
  public/keymaps/a/adpenrose_kintsugi_default.json
Labels: bug, keymap

#1193 Fix CM_QUES (Colemak Question Mark)
  src/i18n/keymap_extras/keymap_colemak.js
Labels: bug

#1185 Layout reset prompt when returning from "print keymap" or "test keyboard"
  src/components/ControllerTop.vue
  src/store/modules/app/actions.js
  src/store/modules/app/getters.js
  src/store/modules/app/mutations.js
Labels: enhancement

#1195 add default keymaps: keychron/q3
  public/keymaps/k/keychron_q3_ansi_default.json
  public/keymaps/k/keychron_q3_ansi_encoder_default.json
  public/keymaps/k/keychron_q3_iso_default.json
  public/keymaps/k/keychron_q3_iso_encoder_default.json
  public/keymaps/k/keychron_q3_jis_default.json
  public/keymaps/k/keychron_q3_jis_encoder_default.json
Labels: keymap

#1196 waffling60: fix layout names
  public/keymaps/4/4pplet_waffling60_rev_a_default.json
  public/keymaps/4/4pplet_waffling60_rev_b_default.json
  public/keymaps/4/4pplet_waffling60_rev_c_default.json
Labels: bug, keymap

#1201 add default keymap: horrortroll/chinese_pcb/black_e65
  public/keymaps/h/horrortroll_chinese_pcb_black_e65_default.json
Labels: keymap

#1199 Fix some keymaps
  public/keymaps/e/eu_isolation_default.json
  public/keymaps/k/keebio_viterbi_rev1_default.json
  public/keymaps/k/keebio_viterbi_rev2_default.json
  public/keymaps/l/lazydesigners_dimple_staggered_rev3_default.json
  public/keymaps/o/omkbd_ergodash_rev1_default.json
Labels: bug, keymap

#1200 Add mini36
  public/keymaps/c/controllerworks_mini36_default.json
Labels: keymap
