Repository qmk/qmk_configurator, pull requests merged in 2022-12, with the labels that each got.

#1211 Fix more broken keycodes
  public/keymaps/a/ai03_orbit_default.json
  public/keymaps/c/cannonkeys_adelie_default.json
  public/keymaps/c/contender_default.json
  public/keymaps/c/copenhagen_click_click_pad_v1_default.json
  public/keymaps/f/flehrad_bigswitch_default.json
  public/keymaps/h/handwired_aranck_default.json
  public/keymaps/h/handwired_bstk100_default.json
  public/keymaps/h/handwired_heisenberg_default.json
  public/keymaps/h/handwired_jopr_default.json
  public/keymaps/h/handwired_mechboards_micropad_default.json
  public/keymaps/h/handwired_pytest_macro_default.json
  public/keymaps/h/handwired_sono1_stm32f103_default.json
  public/keymaps/h/handwired_sono1_t2pp_default.json
  public/keymaps/h/handwired_space_oddity_default.json
  public/keymaps/i/illuminati_is0_default.json
  public/keymaps/k/keyhive_honeycomb_default.json
  public/keymaps/k/keyhive_uno_rev1_default.json
  public/keymaps/k/keyhive_uno_rev2_default.json
  public/keymaps/n/numatreus_default.json
  public/keymaps/p/pdxkbc_default.json
  public/keymaps/p/planck_thk_default.json
  public/keymaps/p/pluckey_default.json
  public/keymaps/t/takashicompany_goat51_default.json
  public/keymaps/t/takashicompany_radialex_default.json
  public/keymaps/t/takashicompany_spreadwriter_default.json
  public/keymaps/t/tender_macrowo_pad_default.json
  public/keymaps/w/w1_at_default.json
Labels: bug, keymap

#1212 Fix nebula12 layout macro
  public/keymaps/s/spaceholdings_nebula12_default.json
Labels: bug, keymap

#1216 Fix Space Cadet keycodes
  public/keymaps/f/funky40_default.json
  public/keymaps/m/mlego_m65_rev4_default.json
  src/store/modules/keycodes/quantum.js
Labels: enhancement, keymap

#1217 Fix for Relocated Keyboards
  public/keymaps/c/converter_numeric_keypad_iie_default.json
  public/keymaps/d/durgod_k310_base_default.json
  public/keymaps/d/durgod_k320_base_default.json
  public/keymaps/e/emptystring_nqg_default.json
  public/keymaps/h/hillside_52_0_1_default.json
  public/keymaps/m/maple_computing_christmas_tree_v2017_default.json
Labels: keymap

#1218 Re-fix more keycodes
  public/keymaps/a/ai03_lunar_default.json
  public/keymaps/a/alpha_default.json
  public/keymaps/b/bioi_morgan65_default.json
  public/keymaps/b/bpiphany_four_banger_default.json
  public/keymaps/c/chromatonemini_default.json
  public/keymaps/d/doro67_rgb_default.json
  public/keymaps/h/hadron_ver2_default.json
  public/keymaps/h/hadron_ver3_default.json
  public/keymaps/h/handwired_dactylmacropad_default.json
  public/keymaps/h/handwired_postageboard_r1_default.json
  public/keymaps/q/quantrik_kyuu_default.json
  public/keymaps/q/qwertyydox_rev1_default.json
Labels: bug, keymap

#1219 Keymap Bugfixes
  public/keymaps/c/cannonkeys_iron165_default.json
  public/keymaps/c/chord_zero_default.json
  public/keymaps/c/clueboard_66_hotswap_prototype_default.json
  public/keymaps/c/cozykeys_bloomer_v3_default.json
  public/keymaps/d/delikeeb_waaffle_rev3_elite_c_default.json
  public/keymaps/d/delikeeb_waaffle_rev3_pro_micro_default.json
  public/keymaps/e/ein_60_default.json
  public/keymaps/f/fleuron_default.json
  public/keymaps/f/flygone60_rev3_default.json
  public/keymaps/g/glenpickle_chimera_ortho_plus_default.json
  public/keymaps/g/gray_studio_hb85_default.json
  public/keymaps/h/hadron_ver2_default.json
  public/keymaps/h/hadron_ver3_default.json
  public/keymaps/h/handwired_stef9998_split_5x7_rev1_default.json
  public/keymaps/h/handwired_symmetric70_proto_promicro_default.json
  public/keymaps/h/handwired_symmetric70_proto_promicro_fast_default.json
  public/keymaps/h/handwired_symmetric70_proto_promicro_normal_default.json
  public/keymaps/h/handwired_symmetric70_proto_proton_c_default.json
  public/keymaps/h/handwired_unk_rev1_default.json
  public/keymaps/h/helix_rev2_qmk_conf_default.json
  public/keymaps/h/horrortroll_handwired_k552_default.json
  public/keymaps/k/keycapsss_o4l_5x12_default.json
  public/keymaps/m/marksard_treadstone48_rev1_default.json
  public/keymaps/m/marksard_treadstone48_rev2_default.json
  public/keymaps/p/preonic_rev1_default.json
  public/keymaps/q/qwertyydox_rev1_default.json
  public/keymaps/r/rgbkb_sol3_rev1_default.json
  public/keymaps/r/ryloo_studio_m0110_default.json
  public/keymaps/s/silverbullet44_default.json
  public/keymaps/s/splitography_default.json
  public/keymaps/s/suavity_ehan_default.json
  public/keymaps/t/the_uni_pro_micro_default.json
  public/keymaps/t/the_uni_rp_2040_default.json
  public/keymaps/t/the_uni_usb_c_default.json
  public/keymaps/u/unikeyboard_diverge3_default.json
  public/keymaps/y/ymdk_np21_default.json
  public/keymaps/y/ymdk_ymd75_rev1_default.json
  public/keymaps/y/ymdk_ymd75_rev2_default.json
  public/keymaps/y/ymdk_ymd75_rev3_default.json
  public/keymaps/z/ztboards_noon_default.json
Labels: keymap

#1203 Update some keymaps
  public/keymaps/h/handwired_swiftrax_cowfish_default.json
  public/keymaps/k/kopibeng_mnk65_default.json
Labels: bug, keymap

#1220 Remove more custom keycodes
  public/keymaps/b/basekeys_slice_rev1_default.json
  public/keymaps/b/basekeys_slice_rev1_rgb_default.json
  public/keymaps/p/preonic_rev2_default.json
  public/keymaps/p/preonic_rev3_default.json
  public/keymaps/p/preonic_rev3_drop_default.json
Labels: bug, keymap

#1221 More keymap fixes
  public/keymaps/p/preonic_rev2_default.json
  public/keymaps/p/preonic_rev3_default.json
  public/keymaps/p/preonic_rev3_drop_default.json
  public/keymaps/t/the_uni_pro_micro_default.json
  public/keymaps/t/the_uni_rp_2040_default.json
  public/keymaps/t/the_uni_usb_c_default.json
  public/keymaps/u/unikeyboard_diverge3_default.json
Labels: bug, keymap

#1222 Fix `horrortroll/handwired_k552` keymap
  public/keymaps/h/horrortroll_handwired_k552_default.json
Labels: bug, keymap

#1229 Remove Deprecated Keymaps
  public/keymaps/1/1upkeyboards_sweet16_v2_promicro_default.json
  public/keymaps/1/1upkeyboards_sweet16_v2_proton_c_default.json
  public/keymaps/a/axolstudio_yeti_default.json
  public/keymaps/b/bastardkb_charybdis_3x5_v2_splinky_default.json
  public/keymaps/b/bastardkb_charybdis_3x5_v2_splinky_v2_default.json
  public/keymaps/b/bastardkb_charybdis_3x5_v2_splinky_v3_default.json
  public/keymaps/b/bastardkb_charybdis_3x6_v2_splinky_default.json
  public/keymaps/b/bastardkb_charybdis_3x6_v2_splinky_v2_default.json
  public/keymaps/b/bastardkb_charybdis_3x6_v2_splinky_v3_default.json
  public/keymaps/b/bastardkb_charybdis_4x6_v2_splinky_default.json
  public/keymaps/b/bastardkb_charybdis_4x6_v2_splinky_v2_default.json
  public/keymaps/b/bastardkb_charybdis_4x6_v2_splinky_v3_default.json
  public/keymaps/b/bastardkb_dilemma_elitec_default.json
  public/keymaps/b/bastardkb_dilemma_splinky_default.json
  public/keymaps/b/bastardkb_scylla_v2_splinky_default.json
  public/keymaps/b/bastardkb_scylla_v2_splinky_v2_default.json
  public/keymaps/b/bastardkb_scylla_v2_splinky_v3_default.json
  public/keymaps/b/bastardkb_skeletyl_v2_splinky_default.json
  public/keymaps/b/bastardkb_skeletyl_v2_splinky_v2_default.json
  public/keymaps/b/bastardkb_skeletyl_v2_splinky_v3_default.json
  public/keymaps/b/bastardkb_tbkmini_v2_splinky_default.json
  public/keymaps/b/bastardkb_tbkmini_v2_splinky_v2_default.json
  public/keymaps/b/bastardkb_tbkmini_v2_splinky_v3_default.json
  public/keymaps/c/capsunlocked_cu80_v2_ansi_default.json
  public/keymaps/c/capsunlocked_cu80_v2_iso_default.json
  public/keymaps/c/converter_adb_usb_default.json
  public/keymaps/d/doio_kb16_default.json
  public/keymaps/h/handwired_macroboard_default.json
  public/keymaps/h/handwired_obro_default.json
  public/keymaps/i/idobao_id80_v3_default.json
  public/keymaps/m/mechlovin_zed65_retro66_default.json
  public/keymaps/m/mechlovin_zed65_wearhaus66_default.json
  public/keymaps/n/nopunin10did_jabberwocky_default.json
  public/keymaps/t/tkw_grandiceps_default.json
  public/keymaps/w/work_louder_loop_default.json
Labels: enhancement, keymap

#1231 Fix Q8 ISO keymap
  public/keymaps/k/keychron_q8_iso_default.json
Labels: keymap
