Repository qmk/qmk_configurator, pull requests merged in 2022-09, with the labels that each got.

#1161 Add support for intl key legends based on the host keyboard layout
  src/components/SettingsPanel.vue
  src/components/VisualTesterKeymap.vue
  src/i18n/de.csv
  src/i18n/en.csv
  src/i18n/es.csv
  src/i18n/fr.csv
  src/i18n/it.csv
  src/i18n/ja.csv
  src/i18n/keymap_extras/convert_keymap_extras_header.js
  src/i18n/keymap_extras/index.js
  src/i18n/keymap_extras/keymap_german.js
  src/i18n/keymap_extras/keymap_russian.js
  src/i18n/keymap_extras/keymap_uk.js
  src/i18n/keymap_extras/keymap_us.js
  src/i18n/ms.csv
  src/i18n/pl-PL.csv
  src/i18n/pt-BR.csv
  src/i18n/ru.csv
  src/i18n/zh-CN.csv
  src/i18n/zh.csv
  src/store/modules/app/actions.js
  src/store/modules/app/getters.js
  src/store/modules/app/mutations.js
  src/store/modules/app/state.js
  src/store/modules/keycodes/index.js
  src/store/modules/keycodes/quantum.js
  tests/integration/tester.spec.js
Labels: enhancement, feature

#1177 Put non-US ISO keys in their expected spots in sagittarius' default keymap
  public/keymaps/c/cannonkeys_sagittarius_default.json
Labels: keymap

#1182 Convert longform kc in container keys
  src/store/modules/parse.js
Labels: bug, keymap

#1183 Add default configuration for kegen/gboy
  public/keymaps/k/kegen_gboy_default.json
Labels: keymap
