Repository qmk/qmk_configurator, pull requests merged in 2022-01, with the labels that each got.

#1039 bm60hsrgb_iso/rev2 and bm60hsrgb_poker/rev2 keymaps
  public/keymaps/k/kprepublic_bm60hsrgb_iso_rev2_default.json
  public/keymaps/k/kprepublic_bm60hsrgb_poker_rev2_default.json
Labels: keymap

#1041 add bm60hsrgb default keymap
  public/keymaps/k/kprepublic_bm60hsrgb_rev2_default.json
Labels: keymap

#1048 Update datyl manuform 6x6 after adding blackpill
  public/keymaps/h/handwired_dactyl_manuform_6x6_blackpill_f411_default.json
  public/keymaps/h/handwired_dactyl_manuform_6x6_promicro_default.json
Labels: keymap

#1050 add support for mlego
  public/keymaps/m/mlego_m48_rev1_default.json
  public/keymaps/m/mlego_m60_rev1_default.json
  public/keymaps/m/mlego_m65_rev1_default.json
  public/keymaps/m/mlego_m65_rev2_default.json
  public/keymaps/m/mlego_m65_rev3_default.json
Labels: keymap

#1056 Added keymap for keeb on my folder
  public/keymaps/h/horrortroll_chinese_pcb_m63_rgb_default.json
  public/keymaps/h/horrortroll_handwired_k552_default.json
Labels: keymap

#1058 Added GMK Alter colorway
  src/components/colorways/gmk/alter.js
  src/components/colorways/gmk/index.js
  src/scss/colorways.scss
Labels: keyset colorway

#1065 Fix up default keymaps with invalid keycodes
  public/keymaps/4/40percentclub_25_default.json
  public/keymaps/a/ai03_jp60_default.json
  public/keymaps/a/arabica37_rev1_default.json
  public/keymaps/c/clueboard_66_hotswap_prototype_default.json
  public/keymaps/c/converter_modelm_ssk_default.json
  public/keymaps/f/flygone60_rev3_default.json
  public/keymaps/h/handwired_concertina_64key_default.json
  public/keymaps/h/handwired_ortho5x14_default.json
  public/keymaps/h/handwired_xealous_rev1_default.json
  public/keymaps/h/horrortroll_handwired_k552_default.json
  public/keymaps/k/keychron_q2_rev_0110_default.json
  public/keymaps/m/minidox_rev1_default.json
  public/keymaps/n/naked64_rev1_default.json
  public/keymaps/p/peej_lumberjack_default.json
  public/keymaps/p/pisces_default.json
  public/keymaps/p/pistachio_pro_default.json
  public/keymaps/r/rgbkb_mun_rev1_default.json
  public/keymaps/s/sendyyeah_75pixels_default.json
  public/keymaps/x/xelus_la_plus_default.json
Labels: bug, keymap
