Repository qmk/qmk_configurator, pull requests merged in 2022-08, with the labels that each got.

#1162 Add ecila default layout
  public/keymaps/m/mincedshon_ecila_default.json
Labels: keymap

#1164 Add deng/djam default keymap
  public/keymaps/d/deng_djam_default.json
Labels: keymap

#1163 add fave104 default layout
  public/keymaps/l/linworks_fave104_default.json
Labels: keymap

#1168 Replace MT(<mod>, <kc>) by <mod>_T(<kc>) for prettier keys
  public/keymaps/4/40percentclub_tomato_default.json
  public/keymaps/4/40percentclub_ut47_default.json
  public/keymaps/a/alpha_default.json
  public/keymaps/b/buzzard_rev1_default.json
  public/keymaps/g/gboards_gergo_default.json
  public/keymaps/g/glenpickle_chimera_ergo_default.json
  public/keymaps/g/glenpickle_chimera_ls_default.json
  public/keymaps/g/glenpickle_chimera_ortho_default.json
  public/keymaps/h/handwired_lagrange_default.json
  public/keymaps/h/handwired_pilcrow_default.json
  public/keymaps/h/handwired_zergo_default.json
  public/keymaps/k/kagizaraya_halberd_default.json
  public/keymaps/k/keebio_dilly_default.json
  public/keymaps/k/keyprez_bison_default.json
  public/keymaps/k/keyprez_rhino_default.json
  public/keymaps/m/maple_computing_c39_default.json
  public/keymaps/m/miniaxe_default.json
  public/keymaps/m/mt_mt40_default.json
  public/keymaps/n/nacly_sodium42_default.json
  public/keymaps/o/orthodox_rev1_default.json
  public/keymaps/o/orthodox_rev3_default.json
  public/keymaps/o/orthodox_rev3_teensy_default.json
  public/keymaps/p/pearl_default.json
  public/keymaps/p/polilla_rev1_default.json
  public/keymaps/p/program_yoink_staggered_default.json
  public/keymaps/s/splitkb_kyria_rev1_default.json
  public/keymaps/s/splitkb_kyria_rev1_proton_c_default.json
  public/keymaps/s/splitkb_kyria_rev2_default.json
  public/keymaps/s/splitkb_kyria_rev2_proton_c_default.json
  public/keymaps/s/splitty_rev1_default.json
  public/keymaps/t/terrazzo_default.json
  public/keymaps/t/trashman_ketch_default.json
Labels: enhancement, keymap

#1170 Convert all long-form language-specific keycodes
  src/longFormKeycodes.js
Labels: enhancement

#1176 Remove Terminal keycodes from keymaps
  public/keymaps/c/ckeys_handwire_101_default.json
  public/keymaps/c/contra_default.json
  public/keymaps/d/delikeeb_vaneela_default.json
  public/keymaps/d/dm9records_plaid_default.json
  public/keymaps/f/fractal_default.json
  public/keymaps/h/handwired_ortho_brass_default.json
  public/keymaps/h/handwired_riblee_f401_default.json
  public/keymaps/h/handwired_riblee_f411_default.json
  public/keymaps/h/handwired_rs60_default.json
  public/keymaps/h/handwired_terminus_mini_default.json
  public/keymaps/k/keycapsss_o4l_5x12_default.json
  public/keymaps/m/mlego_m48_rev1_default.json
  public/keymaps/p/planck_ez_base_default.json
  public/keymaps/p/planck_ez_glow_default.json
  public/keymaps/p/planck_light_default.json
  public/keymaps/p/planck_rev1_default.json
  public/keymaps/p/planck_rev2_default.json
  public/keymaps/p/planck_rev3_default.json
  public/keymaps/p/planck_rev4_default.json
  public/keymaps/p/planck_rev5_default.json
  public/keymaps/p/planck_rev6_default.json
  public/keymaps/p/planck_rev6_drop_default.json
  public/keymaps/p/planck_thk_default.json
  public/keymaps/p/preonic_rev1_default.json
  public/keymaps/p/preonic_rev2_default.json
  public/keymaps/p/preonic_rev3_default.json
  public/keymaps/p/preonic_rev3_drop_default.json
  public/keymaps/w/work_louder_work_board_default.json
Labels: bug, keymap
