Repository qmk/qmk_configurator, pull requests merged in 2022-02, with the labels that each got.

#1063 Fixed keycode issue for colorway GMK Dracula
  src/components/colorways/gmk/dracula.js
Labels: keyset colorway

#1064 add mlego m65 rev4... to sync with qmk_firmware master
  public/keymaps/m/mlego_m65_rev4_default.json
Labels: keymap

#1069 Add handwired/macroboard default keymap
  public/keymaps/h/handwired_macroboard_layout_ortho_5x6_default.json
Labels: keymap

#1071 Added Paws60 default keymap
  public/keymaps/h/horrortroll_paws60_default.json
Labels: keymap

#1072 Added evancookaudio tenpad default layout
  public/keymaps/e/evancookaudio_tenpad_default.json
Labels: keymap

#1066 More keymap fixes
  public/keymaps/a/afternoonlabs_gust_rev1_default.json
  public/keymaps/a/aves65_default.json
  public/keymaps/c/cassette42_default.json
  public/keymaps/d/duck_eagle_viper_v2_default.json
  public/keymaps/k/kbdfans_kbdpad_mk2_default.json
  public/keymaps/n/navi10_rev0_default.json
  public/keymaps/n/navi10_rev2_default.json
  public/keymaps/n/navi10_rev3_default.json
  public/keymaps/p/pisces_default.json
  public/keymaps/t/tkc_candybar_righty_r3_default.json
Labels: bug, keymap

#1076 gl516/j73gl: fix default keymap
  public/keymaps/g/gl516_j73gl_default.json
Labels: bug, keymap

#1078 Added Kapl default keymap
  public/keymaps/k/kapl_rev1_default.json
Labels: keymap

#1079 Update Default Keymaps: 2022-02-13
  public/keymaps/1/1upkeyboards_super16v2_default.json
  public/keymaps/b/boardsource_lulu_default.json
  public/keymaps/c/cmm_studio_fuji65_default.json
  public/keymaps/g/gl516_n51gl_default.json
  public/keymaps/h/handwired_swiftrax_digicarp65_default.json
  public/keymaps/i/idobao_id80_v3_default.json
  public/keymaps/k/kapl_rev1_default.json
  public/keymaps/k/keyten_kt60_m_default.json
  public/keymaps/m/mechlovin_kay60_default.json
  public/keymaps/m/mode_m75h_default.json
  public/keymaps/m/mode_m75s_default.json
  public/keymaps/w/wren_default.json
Labels: keymap

#1062 Added GMK Hazakura colorway
  src/components/colorways/gmk/hazakura.js
  src/components/colorways/gmk/index.js
  src/scss/colorways.scss
  src/scss/pantone.scss
Labels: keyset colorway

#1080 `the_uni`: remove steno keycodes from default keymap
  public/keymaps/t/the_uni_pro_micro_default.json
  public/keymaps/t/the_uni_usb_c_default.json
Labels: bug, keymap

#1086 Update Default Keymaps: 2022-02-23
  public/keymaps/a/ada_infinity81_default.json
  public/keymaps/c/creatkeebs_glacier_default.json
  public/keymaps/e/evancookaudio_sleepingdinosaur_default.json
  public/keymaps/f/frooastboard_nano_default.json
  public/keymaps/g/gizmo_engineering_gk6_default.json
  public/keymaps/h/handwired_3dortho14u_rev1_default.json
  public/keymaps/h/handwired_3dortho14u_rev2_default.json
  public/keymaps/h/handwired_baredev_rev1_default.json
  public/keymaps/h/handwired_obro_default.json
  public/keymaps/h/handwired_snatchpad_default.json
  public/keymaps/h/helix_rev1_default.json
  public/keymaps/h/hineybush_h08_ocelot_default.json
  public/keymaps/h/hineybush_h65_default.json
  public/keymaps/h/hineybush_h65_hotswap_default.json
  public/keymaps/k/keebio_dsp40_rev1_default.json
  public/keymaps/k/keebio_foldkb_rev1_default.json
  public/keymaps/k/keebio_iris_rev1_default.json
  public/keymaps/k/keebio_iris_rev1_led_default.json
  public/keymaps/k/keebio_iris_rev2_default.json
  public/keymaps/k/keebio_iris_rev3_default.json
  public/keymaps/k/keebio_iris_rev4_default.json
  public/keymaps/k/keebio_iris_rev5_default.json
  public/keymaps/k/keebio_iris_rev6_default.json
  public/keymaps/k/keebio_kbo5000_rev1_default.json
  public/keymaps/k/keebio_sinc_rev1_default.json
  public/keymaps/k/keebio_sinc_rev2_default.json
  public/keymaps/k/keebio_stick_default.json
  public/keymaps/k/kikkou_default.json
  public/keymaps/k/kikoslab_ellora65_default.json
  public/keymaps/l/lazydesigners_dimple_ortho_default.json
  public/keymaps/l/lazydesigners_dimple_staggered_rev1_default.json
  public/keymaps/l/lazydesigners_dimple_staggered_rev2_default.json
  public/keymaps/l/lazydesigners_dimple_staggered_rev3_default.json
  public/keymaps/m/mokey_xox70_default.json
  public/keymaps/m/mwstudio_mw65_rgb_default.json
  public/keymaps/m/mwstudio_mw75r2_default.json
  public/keymaps/r/rart_rart67m_default.json
  public/keymaps/w/wavtype_foundation_default.json
Labels: keymap

#1088 Update Redirect Table: QMK 0.16.0
  src/remap.js
Labels: enhancement

#1090 Update Keychron default keymaps
  public/keymaps/k/keychron_q1_rev_0100_default.json
  public/keymaps/k/keychron_q1_rev_0102_default.json
  public/keymaps/k/keychron_q2_rev_0110_default.json
  public/keymaps/k/keychron_q2_rev_0111_default.json
Labels: keymap
