Repository qmk/qmk_configurator, pull requests merged in 2022-05, with the labels that each got.

#1118 Update Default Keymaps: 2022-05-12 (e5e7039368)
  public/keymaps/4/4pplet_yakiimo_rev_a_default.json
  public/keymaps/a/axolstudio_yeti_hotswap_default.json
  public/keymaps/a/axolstudio_yeti_soldered_default.json
  public/keymaps/e/ekow_akira_default.json
  public/keymaps/h/handwired_reddot_default.json
  public/keymaps/k/karlb_kbic65_default.json
  public/keymaps/k/kbdfans_kbd75_rev1_default.json
  public/keymaps/k/kbdfans_kbd75_rev2_default.json
  public/keymaps/m/mss_studio_m63_rgb_default.json
  public/keymaps/s/subrezon_la_nc_default.json
  public/keymaps/t/tominabox1_littlefoot_lx_rev1_default.json
  public/keymaps/t/tominabox1_littlefoot_lx_rev2_default.json
  public/keymaps/y/yandrstudio_nz64_default.json
  public/keymaps/y/yandrstudio_zhou65_default.json
Labels: keymap

#1120 Add MT3 /dev/tty and MT3 Susuwatari
  src/components/BaseKey.vue
  src/components/Main.vue
  src/components/colorways/index.js
  src/components/colorways/mt3/dev_tty_base.js
  src/components/colorways/mt3/dev_tty_ortho.js
  src/components/colorways/mt3/dev_tty_teal.js
  src/components/colorways/mt3/index.js
  src/components/colorways/mt3/susuwatari_base.js
  src/components/colorways/mt3/susuwatari_ortho.js
  src/scss/colorways.scss
  src/scss/mt3-abs.scss
  src/scss/mt3-pbt.scss
Labels: keyset colorway

#1125 develop 2022q2 fixes
  public/keymaps/h/handwired_xealous_rev1_default.json
  public/keymaps/h/hhkb_jp_default.json
Labels: keymap

#1126 Fix API errors
  public/keymaps/m/mechbrewery_mb65s_default.json
Labels: bug
