Repository qmk/qmk_configurator, pull requests merged in 2022-03, with the labels that each got.

#1096 Fix lfkeyboards/smk65 default keymaps
  public/keymaps/l/lfkeyboards_smk65_revb_default.json
  public/keymaps/l/lfkeyboards_smk65_revf_default.json
Labels: bug

#1101 Update Default Keymaps: 2022-03-05
  public/keymaps/4/4pplet_waffling60_rev_c_default.json
  public/keymaps/a/ada_ada1800mini_default.json
  public/keymaps/a/atlas_65_default.json
  public/keymaps/c/creatkeebs_glacier_default.json
  public/keymaps/d/drhigsby_packrat_default.json
  public/keymaps/h/handwired_dactyl_manuform_6x6_4_default.json
  public/keymaps/h/handwired_dactyl_manuform_6x6_kinesis_default.json
  public/keymaps/h/handwired_dactyl_manuform_6x7_default.json
  public/keymaps/h/handwired_lemonpad_default.json
  public/keymaps/h/handwired_onekey_nucleo_l432kc_default.json
  public/keymaps/h/handwired_wakizashi40_default.json
  public/keymaps/h/helix_rev2_qmk_conf_default.json
  public/keymaps/i/idobao_id75_v2_default.json
  public/keymaps/k/kbdfans_odin_rgb_default.json
  public/keymaps/m/mechwild_bde_rev2_default.json
  public/keymaps/m/melgeek_mach80_rev2_default.json
  public/keymaps/m/melody96_default.json
  public/keymaps/n/novelkeys_nk65_v1_4_default.json
  public/keymaps/w/wolf_sabre_default.json
  public/keymaps/y/ymdk_ymd21_v2_default.json
Labels: keymap

#1100 Add drewkeys/iskar default layout
  public/keymaps/d/drewkeys_iskar_default.json
Labels: keymap

#1103 Fix sol3 default keymap - Remove RGB_RST
  public/keymaps/r/rgbkb_sol3_rev1_default.json
Labels: bug

#1104 Add Anne Pro 2 default configuration
  public/keymaps/a/annepro2_c15_default.json
  public/keymaps/a/annepro2_c18_default.json
Labels: keymap

#1105 yugo_m/model_m_101: keymap fix
  public/keymaps/y/yugo_m_model_m_101_default.json
Labels: bug, keymap
