Repository qmk/qmk_configurator, pull requests merged in 2022-07, with the labels that each got.

#1148 Fix skergo keymap
  public/keymaps/s/skergo_default.json
Labels: keymap

#1150 Fix wolf/ryujin default keymap
  public/keymaps/w/wolf_ryujin_default.json
Labels: bug, keymap

#1151 Fix layout MechBrewery MB-65H
  public/keymaps/m/mechbrewery_mb65h_default.json
Labels: keymap

#1152 Update MechBrewery MB-65H default keymap
  public/keymaps/m/mechbrewery_mb65h_default.json
Labels: keymap

#1157 fix broken default keymaps
  public/keymaps/e/eason_capsule65_default.json
  public/keymaps/f/fjlabs_sinanju_default.json
Labels: keymap

#1159 Fix takashicompany/radialex default keymap
  public/keymaps/t/takashicompany_radialex_default.json
Labels: bug
