Repository qmk/qmk_configurator, pull requests merged in 2023-07, with the labels that each got.

#1284 Adjust width requirement for big enter
  src/components/BaseKey.vue
Labels: bug, enhancement

#1283 correct keycodes for dactyl_manuform variants `5x7` and `6x7`
  public/keymaps/h/handwired_dactyl_manuform_5x7_default.json
  public/keymaps/h/handwired_dactyl_manuform_6x7_default.json
Labels: keymap

#1287 Add ScottoAlp default keymap
  public/keymaps/h/handwired_scottokeebs_scottoalp_default.json
Labels: keymap

#1282 add keymaps for `handwired/dactyl_lightcycle` and `handwired/dactyl_maximus`
  public/keymaps/h/handwired_dactyl_lightcycle_default.json
  public/keymaps/h/handwired_dactyl_maximus_default.json
Labels: keymap

#1292 Update Keyboard Remap Lookup Table
  src/remap.js
Labels: enhancement

#1293 Fix planck/rev7 Default Keymap
  public/keymaps/p/planck_rev7_default.json
Labels: keymap

#1285 add dp3000 macropad default keymap
  public/keymaps/d/dp3000_default.json
Labels: keymap

#1289 add QMK Repeat keys
  src/longFormKeycodes.js
  src/store/modules/keycodes/quantum.js
Labels: enhancement
