Repository qmk/qmk_configurator, pull requests merged in 2023-10, with the labels that each got.

#1314 Update Default Keymaps: `qmk/qmk_firmware@63b48f5096`
  public/keymaps/a/acheron_themis_87h_default.json
  public/keymaps/a/acheron_themis_87htsc_default.json
  public/keymaps/a/acheron_themis_88htsc_default.json
  public/keymaps/b/bastardkb_dilemma_4x6_4_default.json
  public/keymaps/c/cannonkeys_brutalv2_60_default.json
  public/keymaps/d/doio_kb12_default.json
  public/keymaps/e/etiennecollin_wave_default.json
  public/keymaps/h/handwired_3dp660_oled_default.json
  public/keymaps/h/handwired_ziyoulang_k3_mod_default.json
  public/keymaps/k/keychron_q1v2_ansi_default.json
  public/keymaps/k/keychron_q1v2_ansi_encoder_default.json
  public/keymaps/k/keychron_q1v2_iso_default.json
  public/keymaps/k/keychron_q1v2_iso_encoder_default.json
  public/keymaps/k/keychron_q1v2_jis_default.json
  public/keymaps/k/keychron_q1v2_jis_encoder_default.json
  public/keymaps/l/linworks_fave60_default.json
  public/keymaps/p/planck_rev7_default.json
  public/keymaps/p/printedpad_default.json
  public/keymaps/p/projectd_75_ansi_default.json
  public/keymaps/s/sofle_choc_default.json
  public/keymaps/s/split67_default.json
  public/keymaps/s/strech_soulstone_default.json
  public/keymaps/s/studiokestra_line_tkl_default.json
  public/keymaps/s/syenakeyboards_aswagata_default.json
  public/keymaps/v/viktus_sp111_v2_default.json
  public/keymaps/z/zeix_qwertyqop60hs_default.json
Labels: keymap

#1315 Some more keymap fixes
  public/keymaps/k/keychron_q11_iso_encoder_default.json
  public/keymaps/k/keychron_q9_plus_ansi_encoder_default.json
  public/keymaps/r/rgbkb_mun_rev1_default.json
  public/keymaps/r/rgbkb_sol3_rev1_default.json
  public/keymaps/r/rmkeebs_rm_fullsize_default.json
  public/keymaps/s/shostudio_arc_default.json
Labels: bug, keymap

#1319 fix: restore QMK icon
  public/qmk_icon_36.png
  public/qmk_icon_512.png
  src/App.vue
  src/scss/status-bar.scss
  vue.config.js.old
  yarn.lock
Labels: bug

#1317 Remove unused ISO toggle code
  src/components/Keycodes.vue
  src/components/SettingsPanel.vue
  src/store/modules/app/actions.js
Labels: enhancement
