Repository qmk/qmk_configurator, pull requests merged in 2024-06, with the labels that each got.

#1349 Fix Keymaps with Invalid Data
  public/keymaps/b/blackplum_default.json
  public/keymaps/b/boardrun_bizarre_default.json
  public/keymaps/c/cipulot_ec_prox_jis_default.json
  public/keymaps/c/cipulot_ec_tkl_default.json
  public/keymaps/c/clueboard_66_hotswap_gen1_default.json
  public/keymaps/z/zsa_moonlander_default.json
  public/keymaps/z/ztboards_noon_default.json
Labels: keymap

#1351 Fix JJ40 keymap
  public/keymaps/k/kprepublic_jj40_rev1_default.json
Labels: bug, keymap

#1353 Update Legacy Magic Keycodes
  src/longFormKeycodes.js
  src/store/modules/keycodes/kb-settings.js
Labels: bug
