Repository qmk/qmk_configurator, pull requests merged in 2024-08, with the labels that each got.

#1358 Yanfali updates
  .github/workflows/build.yml
  .github/workflows/deploy_develop.yml
  .github/workflows/docker.yaml
  .nvmrc
  Dockerfile
  cypress.config.js
  cypress.json
  eslint.config.js
  package.json
  src/components/BaseKey.vue
  src/components/ControllerBottom.vue
  src/components/ControllerTop.vue
  src/components/Keycode.vue
  src/components/Keycodes.vue
  src/components/Main.vue
  src/components/Modal.vue
  src/components/PrintKeymap.vue
  src/components/Space.vue
  src/components/StatusBar.vue
  src/components/Veil.vue
  src/components/VisualKeymap.vue
  src/components/VisualTesterKeymap.vue
  src/components/spinner.vue
  src/i18n/keymap_extras/convert_keymap_extras_header.js
  src/scss/status-bar.scss
  src/scss/themes.scss
  src/store/index.js
  src/store/modules/app/actions.js
  src/store/modules/app/state.js
  src/store/modules/keycodes/index.js
  src/store/modules/keymap.js
  src/views/Home.vue
  src/views/Print.vue
  yarn.lock
Labels: refactor

#1359 Fix Satisfaction75 HS keymap
  public/keymaps/c/cannonkeys_satisfaction75_hs_default.json
Labels: bug, keymap

#1360 Update `bear_face/v1` keymap
  public/keymaps/b/bear_face_v1_default.json
Labels: keymap
